llama-index 
llama-index-llms-gemini
llama-index-tools-wikipedia
langchain 
langchain-google-genai
langchain-community
langgraph
google-generativeai
ipykernel
ipywidgets
matplotlib 
numpy 
pandas
pillow
pygraphviz
opencv-python-headless
transformers
